body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("back.jpeg");
  opacity: 0.85;
  background-color: rgba(116, 113, 113, 0.25);
  height: 100px;
  margin-top: 400px;
}

/* This selects the div elements */
.defs {
  border: 1vmin solid rgb(211, 182, 182);
  height: 6vmin;
  border-radius: 1em;
}

.float-container {
  display: grid;
  grid-template-columns: 5.1fr 2.8fr;
  grid-gap: 8px;
  height: 15vmax;
  width: 80vmax;
}

.float-child {
  width: 50%;
  /* float: left; */
  padding: 10px;

  border: 1vmin solid rgb(46, 25, 25);
  border-radius: 2em;
}
span {
  font-weight: bolder;
  color: rgb(211, 8, 8);
}
form > div {
  padding-bottom: 12px;
  border: 3px solid rgb(218, 176, 176);
  height: 3vmin;
  text-align: center;
  background-color: aliceblue;
  border-radius: 2em;
}

body[disabled] {
  pointer-events: none;
  opacity: 0.7;
}
#wrong-display {
  border-radius: 1em;
  border: 2px solid rgb(40, 30, 124);
  height: 8vmin;
  width: 30vmin;
  background-color: rgb(144, 136, 214);
  text-emphasis: center;
}

img {
  width: 300px;
  opacity: 0.9;
  border-radius: 2em;
}
#kid-img {
  width: 150px;
}

#distance {
  height: 250px;
}
button {
  font-weight: bolder;
  border-radius: 2em;
}
button:hover {
  background-color: rgb(40, 30, 124);

  color: aliceblue;
}

pre {
  border: 2px solid rgb(40, 30, 124);
  border-radius: 1em;
  font-weight: bolder;
  background-color: rgb(210, 241, 241);
}
#replay {
  width: 70px;
  height: 50px;
  background-color: darkgoldenrod;
}

#submit,
#next {
  margin: 8px;
  height: 40px;
  background-color: darkgoldenrod;
}

#timer,
#totalCorrect,
#level {
  border-radius: 1em;
  border: 2px solid rgb(40, 30, 124);
  height: 25px;
  width: 85px;
  background-color: rgb(144, 136, 214);
  text-emphasis: center;
}

#distance {
  height: 90px;
}
#totalCorrect,
#level {
  width: 180px;
  border-radius: 0.8em;
}
