body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;

  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* section {
  display: grid;
  grid-template-columns: repeat(1, 6vmin);
  grid-template-rows: repeat(8, 6vmin);
  gap: 0.5vmin;
}

/* This selects the div elements */
.defs {
  border: 1vmin solid rgb(218, 176, 176);
  height: 6vmin;
}

.float-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-gap: 8px;
  height: 40vmin;
}

.float-child {
  width: 50%;
  /* float: left; */
  padding: 10px;

  border: 1vmin solid rgb(46, 25, 25);
}
span {
  font-weight: bold;
  color: brown;
}
form > div {
  padding-bottom: 12px;
  border: 2px solid rgb(218, 176, 176);
}
